<div class="container new-translation">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <%= link_to "Listen", "#", class: "btn btn-primary", id: "listen-btn" %>
      </div>
    </div>
  </div>
</div>
