<div class="container">
  <div class="row">
    <% @translations.each do |translation| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= translation.created_at %></h3>
        </div>
        <div class="panel-body">
          
        </div>
      </div>
    <% end %>
  </div>
</div>
