<div class="container welcome-screen">
  <div class="row text-center">
    <div class="col-xs-6 col-md-3">
      <div class="home-btns">
        <h3>Copy</h3>
      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div class="home-btns">
        <h3>Fax</h3>
      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div class="home-btns">
        <h3>Scan</h3>
      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div class="home-btns">
        <h3>Print</h3>
      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div class="home-btns">
        <h3>Email</h3>
      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div class="home-btns">
        <h3>Edit</h3>
      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div class="home-btns">
        <h3>Settings</h3>
      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div class="home-btns" id="simple-talk-btn">
        <h3>SimpleTalk</h3>
      </div>
    </div>
  </div>
</div>
