<div class="container welcome-screen">
  <div class="row text-center">
    <div class="col-md-12">
      <h1>Speak Simply Doc</h1>
    </div>

    <div class="col-md-12">
      <div class="mic-btn">
        <%= link_to "#" do %>
          <%= image_tag("/microphone.png", size: "200") %>
        <% end %>
      </div>
      <%= link_to "#" do %>
        <div class="red-dot"></div>
        <div class="recording-dot"></div>
      <% end %>
    </div>

    <div class="col-xs-2 col-xs-offset-5 switch-div">
      <div class="onoffswitch">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
        <label class="onoffswitch-label" for="myonoffswitch">
          <span class="onoffswitch-inner"></span>
          <span class="onoffswitch-switch"></span>
        </label>
      </div>
    </div>
  </div>
</div>
