<div class="container welcome-screen">
  <div class="row text-center">
    <div class="col-md-12">
      <h1>Speak Simply Doc</h1>
    </div>

    <div class="col-md-12">
      <div class="mic-btn">
        <%= image_tag("/microphone.png", size: "200") %>
      </div>
      <div class="red-dot"></div>
    </div>
  </div>
</div>
