<div class="container welcome-screen">
  <div class="row text-center">
    <div class="col-md-12">
      <h1>Simple Talk</h1>
    </div>

    <div class="col-sm-4">
      <div class="translation-box jargon">
        <h2>Orginal</h2>
      </div>
    </div>

    <div class="col-md-4 center-div">
      <div class="mic-btn">
        <%= link_to "#" do %>
          <%= image_tag("/microphone.png", size: "200") %>
        <% end %>
      </div>
      <%= link_to "#" do %>
        <div class="red-dot"></div>
        <div class="recording-dot"></div>
      <% end %>
      <div class="onoffswitch">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
        <label class="onoffswitch-label" for="myonoffswitch">
          <span class="onoffswitch-inner"></span>
          <span class="onoffswitch-switch"></span>
        </label>
      </div>
      <div>
        <%= link_to "Edit", "#", class: "btn btn-primary", id: "edit-btn" %>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="translation-box laymans">
        <h2>Simple</h2>
      </div>
    </div>
  </div>
</div>
