@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #CDCDCD;
}

.home-btns {
  margin-top: 60px;
  height: 150px;
  width: 150px;
  border: 1px solid #a6a6a6;
  margin-left:auto;
  margin-right:auto;
  display:block;
  background-color: #99D3DF;
  border-radius: 10px;
}

.home-btns:hover {
  background-color: #88BBD6;
}

.home-btns h3 {
  display: block;
  margin-top: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.welcome-screen > div {
  display: inline-block;
}

.new-translation .panel {
  margin-top: 60px;
}

.new-translation .panel-body {
  min-height: 300px;
}
